<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/static/imgs/sdjjico.jpg">
	<title>闪电降价发布系统</title>
	<!-- Bootstrap core CSS -->
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

   	 <!-- Custom styles for this template -->
 	<link href="/static/css/dashboard.css" rel="stylesheet">
	<!--框架样式-->
	<link href="/static/css/home.css" rel="stylesheet">
	<!--小屏下，右移样式-->
	<link href="/static/css/offcanvas.css" rel="stylesheet">
	<!--代码更新（非框架）样式-->
	<link href="/static/css/release.css" rel="stylesheet">
    	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]
    	<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   	<!--[if lt IE 9]>
      	<script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      	<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
</head>

<body>
	<div class="container-fluid">
		<div class="row row-offcanvas row-offcanvas-left">
			<div class="col-xs-6 col-sm-1  col-md-2 sidebar-offcanvas homedivtm" id="sidebar" role="navigation">
				<!--左导航-->
				{% include 'left_nav.html' %}

			</div><!--col-sm-3 col-md-2 sidebar -->	     
			<div class="col-xs-12 col-sm-12  col-md-12 home-brand">
				<!--head-->
				{% include 'header_nav.html' %}
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">
				<div class="col-xs-12 col-sm-12 container" role="navigation">
                                        <p class="pull-left visible-xs">
                                                 <button type="button" class="btn btn-info btn-md" data-toggle="offcanvas">菜单</button>
                                        </p>
				</div>
			<!--框架主页开始-->
			<form action="/projectmanegement/addstorage/" method="post" role="form">
                                        {% csrf_token %}
					<input type='hidden' name='addstatus' value='{{add_status}}' /> 
					
                                        <div class="row">
                                                                       <h3>添加仓库</h3>　
                                                <table class='release_label release_table col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-2 col-lg-4 col-lg-offset-3'>
							{{ storage_form.as_table }}
                                                        <tr>
								<td></td>
                                                                <td>
                                                                        <div class='col-lg-3'>
                                                                        <button class="btn btn-sm btn-primary btn-block" type="submit">提交</button>
                                                                        </div>
                                                                        <div class='col-lg-3'>
									<a href="#" class="btn btn-md btn-default btn-block" onClick='javascript :history.back(-1);'>返回</a>
                                                                        </div>
                                                                </td>
                                                        </tr>
                                                </table>
                                        </div>
                                </form>


			<!--框架主页结束-->
			</div><!--col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main -->
		</div><!--row row-offcanvas row-offcanvas-left--> 
	</div><!--container-fluid -->

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/static/js/1.11.1/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
	<!--小屏下，右移效果-->
	<script src="/static/js/offcanvas.js"></script>
	<!--如果插入数据库成功，弹窗提示-->
	<script language="javascript" src="/static/js/project_addstorage.js"></script>
</body>
</html>

